.header__title{
    padding: 1rem;
    height: 15vh;
    font-size: 50px;
    animation-name: h1-bigger;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}


@keyframes h1-bigger {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }
}