*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

a{
  color: #3A98B9;
}

a:hover{
  color: #012E46;
}

.app {
  text-align: center;
}
 
.footer{
  background-color: #FFF1DC;
  padding: 2rem;
  text-align: center;
  height: 15vh;
}

header{
  background-color: #FFF1DC;
  padding: 1rem;
  height: 15vh;
}

.header__title{
  font-size: 50px;
  color: #3A98B9;
  animation-name: h1-bigger;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes h1-bigger {
  from{
      transform: scale(1);
  }
  to{
      transform: scale(1.5);
  }
}

h1{
  color: #3A98B9;
}

.page{
  height:70vh;
 padding: 100px;
}

button{
  background-color: #3A98B9;
  color: #EEEEEE;
  padding: 0.5rem;
  border-radius: 5px;
  margin:1rem;
  font-weight: 700;
}

.main__img{
  width:300px
}

.main__btns{
  display: flex;
  justify-content: center;
  align-items: center;
}

table{
  margin: 20px auto;
}

table, th, td{
  border: 2px solid #3A98B9;
  border-collapse: collapse;
}

th, td{
  padding: 20px;
}
td{
  font-weight: 550;
}

.table__flag{
  font-size: 100px
}